// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$our-bright-purple: #A14DA0;
$our-bright-green:  #73956F;
$our-blue: #33658A;
$our-lavender: #D3C1D2;
$our-mint-green: #BFE4CD;
