

.banner {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: 75vh;
    grid-gap: 5px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    transition: filter 0.5s ease;
  }

  .banner:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

  .banner-item1 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669315744/helping-hands/senior-father-hugging-adult-hipster-son-have-a-happy-feeling-together-elderly-caucasian-person-man-or-grandfather-smiling-with-love-in-concept-of-family-at-home-nature-outdoor-garden-banner-space-free-photo_y9suma.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/4;
    grid-row: 1/2;
  }

  .banner-item2 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669314319/helping-hands/cooking2_lqatfi.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
    grid-row: 2/5;
  }

  .banner-item3 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669315479/helping-hands/cropped-community-group_agudfp.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 1/5;
    grid-row: 5/5;
  }

  .banner-item4 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669314315/helping-hands/cooking_d2zbsh.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 2/4;
    grid-row: 2/5;
  }

  .banner-item5 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669315805/helping-hands/old-young_kbi8vx.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/6;
    grid-row: 1/3;
  }

  .banner-item6 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669314332/helping-hands/dog___people_wjentu.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 4/5;
    grid-row: 3/5;
  }

  .banner-item7 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669314370/helping-hands/old___young_g9j2fn.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 5/6;
    grid-row: 3/6;
  }

  .banner-item8 {
    background-image: url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1669314385/helping-hands/old_young_reapq3.jpg");
    background-size: cover;
    background-position: center;
    grid-column: 6/8;
    grid-row: 1/6;
  }
