.banner {
  height: 80vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("https://res.cloudinary.com/dmm02pvmw/image/upload/v1668884243/helping-hands/black___white_eqdhxh.jpg");
}
