.container {
  margin: 8px;
  max-width: 2480px;


}


.grid-container {
  display: grid;
  grid-template-columns: minmax(10px, 3fr);

}

.wrapperContainer {
 display: flex;
 gap: 32px;
}

.emptyResult {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#map {
  height: 700px;
  position: sticky;
  top: 60px;
  flex: 2;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  flex: 3;

}


#tasks {
  width: min-content;
}

.task-description {
  margin-top: 0.5rem;
}

.avatar-map {
  width: 40px;
  height: 40px;
  position: relative;
  bottom: 3rem;
  left: -1rem
}


/* styling map pop up */
.mapboxgl-popup {
  max-width: 100px;
  border-radius: 4px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  background-color: rgba($color: white, $alpha: 0);
  box-shadow: 0 0 0;
}

.mapboxgl-popup-close-button {
  font-weight: bold;
}
