<div>
    <%= cl_image_tag task.user.photo.key, class: task.need_help? ? "avatar-bordered orange-border" : "avatar-bordered green-border" %>
    <div class="bg-light border border-dark p-1">
      <%= task.title %>
    </div>
</div>
