<div class="container">
  <h1>Tasks</h1>

  <h4><%= pluralize @tasks.count, "task" %></h4>
  <div class="row">
    <% @tasks.each do |task| %>
      <div class="col-lg-3">
        <div class="card" style="width: 20rem; height: 20rem; overflow: hidden;">
        <div class="card-body">
          <div class="d-flex align-items-center justify-content-between">
            <h5 class="card-title"><%= task.title %></h5>
            <div class="rounded-circle border border-2 d-flex align-items-center justify-content-center text-center" style="width: 40px; height: 40px;"><i class="fa-regular fa-user"></i></div>
          </div>
          <hr>
          <div class="d-flex align-items-center justify-content-between">
            <div class="">
              <p class="card-text"><%= task.description %></p>
            </div>
          </div>
        </div>
          </div>
      </div>
    <% end %>
    <br>
  </div>
</div>
