<%= simple_form_for(@chatroom) do |f| %>
  <h1>Create a chatroom</h1>
  <div class="d-flex">
    <%= f.input :name,
      label: false,
      placeholder: "Create your chatroom name",
      wrapper_html: {class: "flex-grow-1"}  %>
    <%= f.submit "Send", class: "btn btn-primary mb-3" %>
    <%= f.input :chat_user, as: :hidden, input_html: { value: params[:chat_user] } %>
  </div>
<% end %>
