<div class="container my-5 p-5 d-flex flex-column justify-content-center align-items-center bg-white">
  <div class="col-12 col-md-6">
    <% if @task_applications.size.zero? %>
      <h1 class="pb-2">You have not applied to any tasks yet!</h1>
    <% else %>
      <h1 class="pb-2">Your applications(<%= @task_applications.size %>)</h1>
      <% @task_applications.each do |task_application| %>
        <%= render "task_application", task_application: task_application %>
      <% end %>
    <% end %>
  </div>
</div>
