<footer>
<br><br>
  <div class="container d-flex flex-column align-items-center">
    <div class="d-flex">
      <%= link_to "About us", "#" %>
      <%= link_to "Contact us", "#" %>
      <%= link_to "Let us know your thoughts", "#" %>
    </div>
    <br><br>
    <div>
      Contact us on social media platforms
    </div>
    <div class="d-flex">
      <i class="fa-brands fa-square-facebook"></i>
      <i class="fa-brands fa-square-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
    </div>
  </div>
</footer>
