


<div class="banner">
  <div class="banner-item7 item"></div>
  <div class="banner-item1 item"></div>
  <div class="banner-item2 item"></div>
  <div class="banner-item3 item"></div>
  <div class="banner-item4 item"></div>
  <div class="banner-item5 item"></div>
  <div class="banner-item6 item"></div>
  <div class="banner-item8 item"></div>

  <div class="form">
    <div class="row">
      <h3>Some title or quote</h3>
    </div>
      <div class="form-check form-check-inline" data-type="horizontal">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
        <label class="form-check-label" for="inlineCheckbox1">I need help</label>
      </div>
      <div class="form-check form-check-inline" data-type="horizontal">
        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
        <label class="form-check-label" for="inlineCheckbox2">I can help</label>
      </div>

    <div class="row">
      <select class="form-select" aria-label="Default select example">
        <option selected>Choose category</option>
        <option value="1">CategoryOne</option>
        <option value="2">CategoryTwo</option>
        <option value="3">CategoryThree</option>
      </select>
    </div>
    <div class="row">
      <div class="col-12">
        <label for="inputAddress" class="form-label">Location</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="Enter your location">
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <button class="btn btn-primary" type="submit">Search</button>
      </div>
    </div>
  </div>
</div>

<br>
<div class="container">
<br><br>
  <h2 class='home-cards-title'>How does it work?</h2>
  <div class="wrapper">
    <div class="card-one">
      <div class="card-product">
        <%= image_tag "one.jpg" %>
        <div class="card-product-infos">
          <h2>Choose if you want help or to volunteer</h2>
          <p>Enter your location and browse people in your area who <strong>require help</strong> or are available <strong>to help you.</strong></p>
        </div>
      </div>
    </div>
    <div class="card-two">
      <div class="card-product">
        <%= image_tag "two.jpg" %>
        <div class="card-product-infos">
          <h2>Search for helping hands in your area</h2>
          <p>Browse people based on tasks and availability.</p>
        </div>
      </div>
    </div>
    <div class="card-three">
      <div class="card-product">
        <%= image_tag "three.jpg" %>
        <div class="card-product-infos">
          <h2>Connect with others and get the task done</h2>
          <p>Login and create a profile to live chat with another person to sort out the finer details.</p>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <strong>Listings near you</strong>
  <div class="m-1">
    <% if @need_help_tasks.count > 8 %>
      <br>
      <%= render "tasks_carousel", tasks: @tasks, carousel_controls: "carousel1" %>
    <% end %>
  </div>
</div>
