.card-trip {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 20rem;
  height: 300px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-sizing: border-box;
  padding: 16px;
}

.orange-border {
  border: 4px solid orange;
}

.green-border {
  border: 4px solid green;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  overflow-wrap: break-word;
}

.title-avatar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20%;
  padding: 3px 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-avatar > img {
  margin-left: 10px;
  align-self: flex-start;
}

.title-avatar > h2 {
  font-size: 16px;
  font-weight: bold;
  flex-grow: 1;
  overflow: hidden;
  overflow-wrap: break-word;
  height: 2.6rem;
}

.task-description {
  height: 60%;
  overflow: hidden;
  overflow-wrap: break-word;
}

.task-details {
  height: 20%;
}


.task-cards-wrapper {
  margin: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

